---
title: My thoughts
permalink: /thoughts/
eleventyNavigation:
  key: Thoughts
  title: My thoughts
  order: 4
---
<h1>My thoughts</h1>

<p>Infrequent notes: technical scraps, books, things I do not want to forget. No posting schedule.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
